body {
    overflow: scroll;
    overflow-x: hidden;    
 }
.img{
    height: 80px;
    width: 80px;
}

table.clasificacion thead th{
    padding: 15px;
}
thead.encabezado{
    background-color: darkblue;
    color: white;
}
td{
    padding: 10px;
}
th{
    padding: 10px;
}
.alerta{
    color: red;
    text-align: center;
}
.busqueda{
    margin-left: 19%;
    width: 60%;
    color: white;  
}
.leyenda{
    color: white;
}
.etiqueta{
    color: white;
    margin-right: 2%;
}
button{
    background-color: red;
    border: solid black 3px;
    color: black;
    width: 160px;
    font-size: 30px;
}
button a{
    color: black;
    text-decoration:none;
}
th.clasificacion{
    text-align: center;
}
th.resultado{
    text-align: center;
}
th.local{
    text-align: right;
}
th.visitante{
    text-align: left;
}
td.posicion{
    text-align: center;
}
td.resultado{
    text-align: center;
}
td.local{
    text-align: right;
}
td.visitante{
    text-align: left;
}
.ultimosPartidos{
    height: 20px;
    width: 20px;
    border-radius: 30px;
}
.titulos{
    text-align: center;
    color: white;
}
.win{
    height: 28px;
    width: 28px;
    border-radius: 25px;
    background-color: green;
    float: left;
    text-align: center;
}
.lose{
    height: 28px;
    width: 28px;
    border-radius: 25px;
    background-color: red;
    float: left;
    text-align: center;
}
.draw{
    height: 28px;
    width: 28px;
    border-radius: 25px;
    background-color: orange;
    float: left;
    text-align: center;
}
#resultados {
    margin-top: 5%;
    margin-left: 22%;
    width: 55%;
    border-left: solid 2px black;
    border-right: solid 2px black;
    font-size: 20px;
    background-color: white;
}
#clasificacion{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    border-left: solid 2px black;
    border-right: solid 2px black;
    font-size: 20px;
    background-color: white;
}
.encabezado{
    width: 40%;
    font-size: 20px;
}
.titulo1{
    margin-top: 2.5%;
    margin-left: 23%;
    text-align: left;
    color: white;
    font-size: 20px;
}
.titulo2{
    margin-top: 2.5%;
    margin-left: 23%;
    text-align: left;
    color: white;
    font-size: 20px;
}
.columna1{
    float: left;
    width: 45%;
    margin-left: 3%;
}
.columna2{
    float: right;
    width: 45%;
    margin-right: 3%;
       
}
thead{
    border: solid 2px black;
}
h1.titulo{
    margin-left: 6% ;
    margin-top: 30px;
    margin-bottom: -40px;
    color: white;
}
.busqueda{
font-size: 25px;
padding-bottom: 10px;
}
.barra{
width: 60%;
}
.buscar{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}
.escudo{
    padding: 10px;
}
/* input.radio{
    
} */

.textos{
    text-align: center;
    background-color: cornflowerblue;
    margin-left: 30%;
    margin-right: 30%;
    padding: 4px;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}
.body{
    background-color: blue;
}

.link{
    text-decoration: none;
    color: black;
    
    font-size: 20px;
}

/* Loader */
*,* ::after, *::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#contenedor_carga{
    height: 100%;
    width: 100%;
    position:fixed;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #00ff0d;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
   
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}