body {
    overflow: scroll;
    overflow-x: hidden;    
 }
.img{
    height: 80px;
    width: 80px;
}

table.clasificacion thead th{
    padding: 15px;
}
thead.encabezado{
    background-color: red;
}
td{
    padding: 10px;
}
th{
    padding: 10px;
}
.alerta{
    color: red;
    text-align: center;
}
button{
    background-color: red;
    border: solid black 3px;
    color: black;
    width: 160px;
    font-size: 30px;
}
button a{
    color: black;
    text-decoration:none;
}
th.clasificacion{
    text-align: center;
}
th.resultado{
    text-align: center;
}
th.local{
    text-align: right;
}
th.visitante{
    text-align: left;
}
td.posicion{
    text-align: center;
}
td.resultado{
    text-align: center;
}
td.local{
    text-align: right;
}
td.visitante{
    text-align: left;
}
.ultimosPartidos{
    height: 20px;
    width: 20px;
    border-radius: 30px;
}
.win{
    height: 23px;
    width: 23px;
    border-radius: 25px;
    background-color: green;
    float: left;
    text-align: center;
}
.lose{
    height: 23px;
    width: 23px;
    border-radius: 25px;
    background-color: red;
    float: left;
    text-align: center;
}
.draw{
    height: 23px;
    width: 23px;
    border-radius: 25px;
    background-color: orange;
    float: left;
    text-align: center;
}
.resultados {
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
    width: 90%;
    border-left: solid 2px black;
    border-right: solid 2px black;
}
thead{
    border: solid 2px black;
}
h1.titulo{
    margin-left: 6% ;
    margin-top: 30px;
    margin-bottom: -40px;
}
.busqueda{
font-size: 25px;
padding-bottom: 10px;
}
.barra{
width: 60%;
}
.buscar{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}


.titulos{
    margin-top: 2.5%;
    text-align: center;
}
.textos{
    border: 3px black solid;
    text-align: center;
    background-color: red;
    margin-left: 30%;
    margin-right: 30%;
    padding: 4px;
    font-size: 30px;
} 

.link{
    text-decoration: none;
    color: black;
    
    font-size: 20px;
}

/* Loader */
*,* ::after, *::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#contenedor_carga{
    height: 100%;
    width: 100%;
    position:fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #00ff0d;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
   
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}